@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Permanent+Marker&family=Poppins:ital,wght@0,300;1,700&display=swap');


.card {
    width: 350px;
    border-radius: 10%;
    border: 1px solid #e1ecf7;
    margin: 20px;
    background-color: #f8f9fb;
    box-shadow: 0px 0px 5px 5px #e1ecf7; 
    text-align: center;
}
.card:hover{
    background-color: #d7dfe9;
    text-transform: capitalize;
    width: 360px;
    
   }
   
.title2{
    color:rgb(151, 16, 151);
    font-family: 'Kanit', sans-serif;
    background: white;
    bottom: 10%;
    top: 20%;
    border-radius: 10%;
} 
.title3{
    color: #71a5de;
    font-family: 'Kanit', sans-serif;
    bottom: 10%;
    top: 20%; 
    border-radius: 10%;
    justify-items: center;
    padding: 5px;
}
.title4{
    color:#90e0ef;
    font-family: 'Kanit', sans-serif;
    margin-left: 200px;
    margin-top: 300px;
    justify-content: end;

} 
.base1{
    
    color: aliceblue;
    justify-content: center;
    border-radius: 10%;
    padding: 5px;
    text-decoration: inherit;
    
    
}
.base2{
    
    color: #71a5de;
    justify-content: center;
    border-radius: 10%;
    padding: 5px;
    text-decoration: inherit;

}
.imageCard{
    width:200px; 
    height:200px;
    border-radius: 10%;
    justify-content: center;
    border-style:outset;
    border-color: rgba(99, 135, 182, 0.781);
    border-width: 7px;
}
.base11{
   
    color: #71a5de;
    justify-content: center;
    border-radius: 10%;
    padding: 5px;
    text-decoration: inherit;
    height: 80px;
   
}