@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins:ital,wght@0,300;1,700&display=swap');


.justificado{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.title{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    border-color: aliceblue;
    font-weight: bolder;
    font-size: 200px;
    margin-top: 160px;
    font-family:'Permanent Marker', cursive;
} 


.boton{
    font-weight: bolder;
    font-size: larger;
    margin-left: 400px;
    width: 150px;
    height: 50px;   
    border-radius: 10px; 
    box-shadow: 5px 5px 10px 10px #d1e5f8;
}

.boton:hover{
    background-color: #3a92bb;
    cursor: pointer;
    color: white;
      
}




