.containerNav {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.filter {
    flex-direction: row;

}

.botonfiltro {
    padding: 6px;
    margin: 10px;
}

.Reset {
    height: 30px;
    width: 65px;
    
}