.botonPaginado{
    color: black;
    font-weight: bold;
    background-color: rgba(220, 228, 250, 0.918);
    font-family:  inherit;
    cursor: pointer;
    border-radius: 15%;
    width: 30px;
    display: inline-flex;
    flex-direction: row;
   
}
.botonPaginado:hover{
    background-color: #2c67ac; 
    height: 110%;
}
.paginado9{
    display: flex;
    direction: row;
    flex-wrap: wrap;
    justify-content: center;
}